@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background-color: #f1f5f9; /* slate-100 */
  color: #0f172a; /* slate-900 */
  font-family: var(--font-inter);
}
